.Toolbar{
    width: auto;
    height: 50px;
    padding: 0px 20px;
    margin:0 0;
    background-color: gray;   
    display: flex; 
    align-items: center;
    box-shadow: inset -2px -2px 20px rgba(0, 0, 0, .5);
    box-sizing: border-box;
}

.Logo{
    height: 80%;
}